.splash_container {
	background: $black;
	color: $white;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.splash_container .logo {
	width: 60%;
    margin: 0 auto;
    max-width: 600px;

    @include mobile_landscape {
    	width: 90%;
    }
}

.splash_container footer.contact_info {
	position: absolute;
	bottom: 30px;
	left: 0;
	width: 100%;
	padding: 0 20px;
	text-align: center;
}