/*==================================
FONTS
==================================*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p {
	font-size: 14px;
	line-height: 20px;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: $white;
}

h1 {
	font-size: 48px;
	line-height: 52px;
}

h2 {
	font-size: 24px;
	line-height: 27px;
}

h3 {
	font-size: 14px;
	line-height: 17px;
}

p, h1, h2, h3 {
	color: $black;
	margin: 0px 0px 20px;
}

h1, h2, h3 {
	letter-spacing: .4px;
}

// Bold

b, strong {
}

/*==================================
LINKS
==================================*/

a, a:visited, a:active, a:focus {
	color: inherit;
	text-decoration: none;
	outline: 0;
}

a {
	transition: all .2s ease-in-out;

	&:hover {
		color: $blue;
	}
}